html,
body {
    display: block;
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
}

#container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tasklist-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

button {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
